html {
  height: 100%;
  width: 100%;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  padding-top: 20px;
}

.card {
  cursor: pointer;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

#details {
  margin-top: 50px;
}
